@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,700&display=swap");

.header {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.01), 0 6px 6px rgba(0, 0, 0, 0.02);
  background: #fff;
  &__container {
    padding: 17px 30px;
    display: flex;
    justify-content: space-between;

    &__logo {
      font-family: "Amaranth", sans-serif;
      font-size: 28px;
      font-weight: 900;
      font-style: italic;
    }
  }
}
